In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://soax.com/research/time-spent-on-social-media"

response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

tables = soup.find_all('table')
fourth_table = tables[3]

age_groups = []
females = []
males = []

for row in fourth_table.find_all('tr')[1:]:
    cols = row.find_all('td')
    age_groups.append(cols[0].text.strip())
    females.append(cols[1].text.strip())
    males.append(cols[2].text.strip())

data = {
    'Age Group': age_groups,
    'Female (hours)': females,
    'Male (hours)': males,
}

age = pd.DataFrame(data)

def convert_time_to_minutes(time_str):
    hours, minutes = map(int, time_str.split(':'))
    return hours * 60 + minutes

age['Female (minutes)'] = age['Female (hours)'].apply(convert_time_to_minutes)
age['Male (minutes)'] = age['Male (hours)'].apply(convert_time_to_minutes)

In [3]:
age

       Age Group Female (hours) Male (hours)  Female (minutes)  Male (minutes)
0  16 - 24 years           2:59         2:32               179             152
1  25 - 34 years           2:48         2:31               168             151
2  35 - 44 years           2:21         2:17               141             137
3  45 - 54 years           2:10         1:52               130             112
4  55 - 64 years           1:46         1:31               106              91